# Dependencies
node_modules/
examples/*/package-lock.json
examples/.npm-cache/

# Local binaries
dynamic-node
dynamic-node-cli
*.exe

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dist
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temp
/tmp/

# Underscore prefixed directories
_*/
